/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/grocery_planner_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available. */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. */
@plugin "../vendor/daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee,
          synthwave, retro, cyberpunk, dracula, nord, sunset,
          business, luxury;
}

/* Variants for LiveView */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Global layout resets */
[data-phx-session], [data-phx-teleported-src] { display: contents }
